#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@font-face {
  font-family: Georgia, 'Times New Roman', Times, serif;
  src: URL(../public/Raleway-Regular.ttf);

}
#Name{
  text-shadow: 1px 1px 2px black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  color: rgb(198, 42, 148);
}